body {
  margin: 0;
  font-family: Arial, sans-serif;

}


.sidebar {
  width: 200px;
  background-color: #f8f9fa;
  padding: 20px;
  height: 100vh;
}

.sidebar nav a {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: #000;
  text-decoration: none;
}

.sidebar nav a svg {
  margin-right: 8px;
}

.sidebar nav a.active {
  font-weight: bold;
}

.sidebar nav a:hover {
  background-color: #ddd;
}


.container {
  display: flex;

}

.main-content {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  width: 100%;
}

.chart-container, .pie-chart-container {
  margin-bottom: 20px;
  
}

h3 {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.info-icon {
  font-size: 18px;
  margin-left: 10px;
  color: #888;
  cursor: pointer;
}

.info-icon:hover {
  color: #000;
}

.pie-chart-container canvas {
  max-width: 300px;
  max-height: 300px;
  
  
}

.custom-legend {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.legend-color {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
}
  